.bgColor{
     background-color:#1b1124;/*symbolizing dignity, respect, and empowerment */
}
.bgColorHeader{
    background-color: #301934/*symbolizing dignity, respect, and empowerment */
}
.btnColor{
    background-color:#dfbdff;
}
.text-color{
    color:#ffffff;
}